* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

.navbar {
  padding: 20px 40px 20px 40px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navlinks-container > ul {
  display: flex;
  gap: 20px;
}

.navlinks-container > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlinks-container > ul > li > a {
  text-decoration: none;
  color: #000;
}

.login-btn {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 9999999px;
  font-size: 16px;
  
}
