:root {
  --color-primary: #6B4D57;
  --color-secondary: #16a34a;
  --color-background: #EFF9F0;
}



* {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  font-family: 'Inter';
  }

header {
  width: 100%;
}

.navbar {
  padding: 20px 40px 20px 40px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar>h2{
  font-family: 'Jim Nightshade';
  font-weight: 300;
  font-size: 36px;
  color: var(--color-primary);
}


.navlinks-container > ul {
  display: flex;
  gap: 40px;
}

.navlinks-container > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlinks-container > ul > .active > a {
  text-decoration: underline;
}

.navlinks-container > ul > li > a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 20px;
}

.login-btn {
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 9999999px;
  font-size: 20px;
  
}
